body {
    background-color: #444;
    color: white;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.container {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    margin-right: 70px;
    margin-left: 70px;
    filter: blur(0px);
}

.upvote {
    width: 0;
    height: 0;
    border-color: orangered;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 22px solid orangered;
    position: relative;
    transform: translateY(0px) translateX(230px);
}

.upvote:after {
    width: 17px;
    height: 19px;
    background-color: orangered;
    content: '';
    position: absolute;
    margin-top: 22px;
    margin-left: -8.5px;
    font-family: Roboto, Arial, sans-serif;
    text-align: left;
}

.upvote-count {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 60px;
    font-weight: bold;
}